*{
    margin:auto;
   background-color:rgb(242, 242, 209); 
}

h1{
   text-align: center;
    color:rgb(77, 74, 74) ;
    font-size: 2.5rem;
    width: 100%;
    height: 4rem;
    margin-top: 0;
}
body{
    display: flex;
    flex-direction: column;   
    position:sticky; 
}

#btn-div{
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
}

#btn{
    width: 14rem;
    padding:0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}
#btn:hover{
    background-color:rgb(255, 255, 143);
}

#book-list{
    position: relative;
    margin-top: 1.8rem;
    width: 80%;
    height:80%;
    display: inline-grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr); 
    column-gap: 0.2rem;
    row-gap: 0.5rem;
}

.modal{
    display: none; /* hidden by default */
    position: absolute;
    z-index:1; /* sit on top */
    width: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0,0.2); 
}

.modal-content{
    margin: 10% auto;
    left:0;
    right: 0;
    padding: 2.5rem;
    border: 2px solid #888;
    width: 480px;
    height: 350px;
}

.close{
    color:#aaa;
    float:right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,.close:focus{
    color:black;
    cursor:pointer;
}

label{
    display:inline-block;
    flex-wrap: nowrap;
    line-height: 2.5rem;
    width:130px;
    margin-left: 2rem;
}
input,select{
   width: 250px;
   background-color: white;
   line-height: 1.5rem;
   border-radius: 6px;
}
#submit{
    display: block;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
    width:450px;
    font-size: 20px;
    color: cornsilk;
    background-color: #19A23A;
}
.template{
    width: 250px;
    height:200px;
    border: 2px solid #888;
    background-color:rgba(51, 50, 50, 0.083);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    position:relative;
    line-height: 8px;
    background-color:transparent;
}

.removeBtn,.bookStatusBtn{
    width: 40%;
    line-height: 17px;
    border-radius: 12px;
    color: #fefefe;
    font:bold;
    font-family: serif;
    font-size: 1rem;
}
.removeBtn{
    background-color: red;
}
.bookStatusBtn{
    background-color: rgb(3, 186, 122);
}

#status{
    width: 10%;
    margin-left: 35%;
}
 h3{
     background-color: transparent;
     padding: 0.3rem;;
 }
